$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;

//Mercado libre colors
$meli-yellow-color: #FFE600;
$meli-black-color: #333333;

$meli-gray-100: #EEEEEE;
$meli-gray-200: #999999;
$meli-gray-300: #666666;


