//window-size
$small: 576px;
$medium: 768px;
$large: 1024px;

//responsive-size
$small-desktop: 960px;
$large-desktop: 1200px;
$handheld: 768px;
$handhelds-landscape: 1024px;
$mobile: 480px;
$mobile-landscape: 768px;
