@import "../00_base/_extends.scss";
@import "../00_base/_mixins.scss";
@import "../00_base/_colors.scss";
@import "../00_base/_root.scss";


.container-prod-detail {
    @extend %display-grid;
    @include grid-columns(1fr);
    @include grid-rows(auto 300px);
    grid-column-gap: 2px;
    height: auto;
    grid-template-areas:
    "image-detail" 
    "detail-descr-prod";
     background-color: $meli-gray-100;
     border: 1px solid blue;   
}

.image-detail {
    @include set-grid-area(image-detail); 
    text-align: center;
    border: 1px solid blue;
    padding: 8px;
    background-color: #FFF;
}
.detail-descr-prod {
    @include set-grid-area(detail-descr-prod); 
    text-align: center;
    border: 1px solid blue;
    padding: 8px;
    background-color: #FFF;
}
.wrapper-image-detail {
    @extend %display-grid;
    @include grid-columns(70% 30%);
    @include grid-rows(1fr);
    grid-column-gap: 2px;
    height: auto;
    grid-template-areas:
    "image-product info-product";  
     background-color: #a2d9ce;
     border: 1px solid blue;
}

.image-product {
    @include set-grid-area(image-product); 
    text-align: center;
    border: 1px solid blue;
    padding: 8px;
}

.info-product {
    @include set-grid-area(info-product); 
    text-align: center;
    border: 1px solid blue;
    padding: 8px;
}

.wrapper-info-product {
    @extend %display-grid;
    @include grid-columns(1fr);
    @include grid-rows(32px 55px 16px 45px 32px 40px 32px 40px);
    grid-column-gap: 2px;
    height: auto;
    grid-template-areas:
    "."
    "info-sales"
    "."
    "product-title"
    "."
    "product-total"
    "."
    "btn-buy";
     background-color: #a9dfbf;
     border: 1px solid blue;
     padding-right: 32px;
}

.info-sales {
    @include set-grid-area(info-sales); 
    text-align: center;
    border: 1px solid blue;
}

.product-title {
    @include set-grid-area(product-title); 
    text-align: center;
    border: 1px solid blue;
}

.product-total {
    @include set-grid-area(product-total); 
    text-align: center;
    border: 1px solid blue;
}

.btn-buy {
    @include set-grid-area(btn-buy); 
    text-align: center;
    border: 1px solid blue;
}

@include respond-to(mobile-portrait) {

.wrapper-image-detail {
    @include grid-columns(1fr);
    @include grid-rows(10em auto); 
    grid-template-areas:
    "image-product" 
    "info-product";  

    }

.wrapper-info-product{
    padding-right: 0px;
}

}
  






