@import "../00_base/_extends.scss";
@import "../00_base/_mixins.scss";
@import "../00_base/_colors.scss";
@import "../00_base/_root.scss";

.container-prods-list {
  @extend %display-grid;
  @include grid-columns(20% 60% 20%);
  @include grid-rows(1fr);
  grid-column-gap: 2px;
  height: 26%;
  grid-template-areas: "prod-lt-img prod-lt-descr prod-lt-loc";
  background-color: #fff;
  padding: 16px;
  height: 12em;
  border-bottom: 1px solid $meli-gray-100;
}

.prod-lt-img {
  @include set-grid-area(prod-lt-img);
  text-align: center;
  cursor: pointer;
}

.picture-prod {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  max-height: 180px;
  max-width: 180px;
  border-radius: 4px;
}

.prod-lt-descr {
  @include set-grid-area(prod-lt-descr);
  text-align: center;
}

.prod-lt-descr-wrapper {
  @extend %display-grid;
  @include grid-columns(1fr);
  @include grid-rows(20% 32px 20%);
  grid-column-gap: 2px;
  height: 26%;
  grid-template-areas:
    "prod-price"
    "."
    "prod-name";
  background-color: #fff;
  height: 8em;
  padding-left: 16px;
  padding-top: 2%;
}

.prod-price {
  @include set-grid-area(prod-price);
  text-align: left;
  font-size: 24px;
}

.img-free-shipping {
  padding-left: 0.6em;
}

.prod-name {
  @include set-grid-area(prod-name);
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

.prod-lt-loc {
  @include set-grid-area(prod-lt-loc);
  text-align: center;
  font-size: 12px;
}

@include respond-to(mobile-portrait) {
  .container-prods-list {
    @include grid-columns(1fr);
    @include grid-rows(70% 20% 7%);
    grid-template-areas:
      "prod-lt-img"
      "prod-lt-descr"
      "prod-lt-loc";
    padding-top: 40px;
  }

  .prod-lt-descr-wrapper {
    padding-left: 0px;
  }
}

@include respond-to(handhelds) {
  .container-prods-list {
    grid-template-columns: 30% 60% 0%;
  }
}
